.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
}

.sidebar_maincontent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1c1c;
}

.sidebar {
  width: auto;
  padding: 20px;
  background-color: #222;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #444;
}

.dashboard-container {
    flex: 1;
    padding: 30px;
    background-color: #1d1c1c;
    overflow-y: auto;
    height: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}